@{ ViewData["Title"] = "Home Page"; }


<div class="text-center">
    <h1 class="display-4 text-primary">Categorias</h1>
    <h2>Fabrica de jabón "EL TORO" tiene las siguientes categorias en sus productos</h2>


</div>
<div class="p-4 border rounded">
   

    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                Jabón de Lavanderia
            </th>

        </tr>
        <tr class="table-secondary">
            <th>
                Jabón de Tocador
            </th>
        </tr>
        <tr class="table-secondary">
            <th>
                Shampoo
            </th>
        </tr>
        <tr class="table-secondary">
            <th>
                Jabón para Mascotas
            </th>
        </tr>
    </table>
    
        </div>