@{ ViewData["Title"] = "Home Page"; }


<div class="text-center">
    <h1 class="display-4 text-primary">Su Carrito Esta Vacío :c </h1>
    


</div>
<html>
<body>
    <p class="text-center">

        <img src="~/media/productos/carrito.jpg" width="300" height="300" />
    </p>
    
</body>
</html>

